<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; <a href="https://alphasaur.com" target="_blank">AlphaSaur</a> 2017. Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>.</p>
</footer>