<!-- Scripts -->
<script src="/js/minscripts.min.js"></script>
<script>
    ;
    (function () {
        if ($("#encryptionForm").length > 0) {
            $("#encryptionForm").on('submit', function (event) {
                event.preventDefault();
                $form = $(this);
                $action = $form.attr('action');
                $data = $('form').serialize();

                $.post($action,
                    $data,
                    function (data, status) {
                        if (data.error) {
                            alert(data.error);
                        }
                        $('#result').val(data.hash);
                    });
            });
        }
        if ($("#hashingForm").length > 0) {
            $("#hashingForm").on('submit', function (event) {
                event.preventDefault();
                $form = $(this);
                $action = $form.attr('action');
                $data = $('form').serialize();

                $.post($action,
                    $data,
                    function (data, status) {
                        if (data.error) {
                            alert(data.error);
                        }
                        $('#result').val(data.hash);
                    });
            });
        }
    }());

</script>