<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/dashboard"><i class="fa fa-bar-chart fa-fw"></i> DashBoard</a>
            </li>
            <li>
                <a href="/vehicles"><i class="fa fa-car fa-fw"></i> Vehicles</a>
            </li>
            <li>
                <a href="/tasks"><i class="fa fa-tasks fa-fw"></i> Tasks</a>
            </li>
            <li>
                <a href="/invoices"><i class="fa fa-files-o fa-fw"></i> Invoices</a>
            </li>
            <li class="visible-xs">
                <a href="#logoutModal" data-toggle="modal"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
            </li>
        </ul>
    </div>
</div>