<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>


{% include '../includes/head.html' %}


<body>
    <!-- Wrapper -->
    <div id="wrapper">
        {#
        {% include '../includes/header.html' %}
         #}
         {% block content %}{% endblock %} 
        {% include '../includes/footer.html' %}
    </div>
    <!-- BG -->
    <div id="bg"></div>
    {% include '../includes/scripts.html' %}
</body>

</html>