 {% extends '../layouts/default.html' %} {% block content %}
<!-- Main -->
<div id="main">
<h2 class="major">
		<a href="/" class="icon fa-wrench" style="text-decoration: none">Workshop</a>
	</h2>
	<!-- Contact -->
	<article id="contact" class="active">
		<h2 class="major">Beautify
			<!-- <a href="https://en.wikipedia.org/wiki/Encryption" target="_blank" class="icon fa-info-circle"></a> -->
		</h2>
		
		<h5 class="">coming soon ...
			<!-- <a href="https://en.wikipedia.org/wiki/Encryption" target="_blank" class="icon fa-info-circle"></a> -->
		</h5>
		
	</article>

</div>
{% endblock %}