 {% extends '../layouts/default.html' %} {% block content %}
<!-- Main -->
<div id="main">
	<h2 class="major">
		<a href="/" class="icon fa-wrench" style="text-decoration: none">Workshop</a>
	</h2>
	<!-- Contact -->
	<article id="contact" class="active">
		<h2 class="major">Encryption
			<a href="https://en.wikipedia.org/wiki/Encryption" target="_blank" class="icon fa-info-circle"></a>
		</h2>
		<form method="post" id="encryptionForm" action="/encryption">
			<div class="field">
				<label for="demo-category">Category</label>
				<div class="select-wrapper">
					<select name="encryptionAlgorithem" id="encryptionAlgorithem">
						{%for algo in algos%}
													<option value="{{algo}}">{{algo}}</option>
													{%endfor%}
												</select>
				</div>
			</div>
			<div class="field">
				<label for="key">Secret</label>
				<input type="text" name="secret" id="secret" />
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="4"></textarea>
			</div>
			<div class="field half first">
				<input type="radio" id="action-encrypt" value="encrypt" name="action" checked>
				<label for="action-encrypt">Encrypt</label>
			</div>
			<div class="field half">
				<input type="radio" id="action-decrypt" value="decrypt" name="action">
				<label for="action-decrypt">Decrypt</label>
			</div>
			<div class="field half first">
				<input type="radio" id="digest-hex" value="hex" name="digest" checked>
				<label for="digest-hex">HEX</label>
			</div>
			<div class="field half">
				<input type="radio" id="digest-base64" value="base64" name="digest">
				<label for="digest-base64">Base64</label>
			</div>
			<div class="field">
				<label for="result">Result</label>
				<textarea name="result" id="result" readonly rows="4"></textarea>
			</div>
			<ul class="actions">
				<li><input type="submit" value="submit" class="special" /></li>
				<li><input type="reset" value="reset" /></li>
			</ul>
		</form>
	</article>

</div>
{% endblock %}