 {% extends '../layouts/default.html' %} {% block content %}
<header id="header">
	<div class="logo">
		<span class="icon fa-wrench"></span>
	</div>
	<div class="content">
		<div class="inner">
			<h1>Workshop</h1>
			<p>A workshop for developers to help them to do few needy things online like encryption, hashing and beautifying different formats.</p>
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="/encryption">Encryption</a></li>
			<li><a href="/hashing">Hashing</a></li>
			<li><a href="/beautify">Beautify</a></li>
		</ul>
	</nav>
</header>
{% endblock %}